{% extends 'layout.html' %}
{% block title %}Sensor Graph{% endblock %}
{% block head %}
		<style type="text/css">
			chart_div {
				width: 800px;
			}
			.custom_tooltip, .temp_value{
				font-size: 24px;
				font-family: Arial;
				color: red;
				background-color: black;
				margin: 0px;
				padding: 4px;
			}
			.temp_value{
				color: lightblue;
				margin: 0px;
				padding: 0px;
			}
		</style>

		<!--Load the AJAX API-->
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

		<script type="text/javascript">

		  // Load the Visualization API and the linechart package.
		  google.charts.load('current', {'packages':['corechart', 'line']});

		  // Set a callback to run when the Google Visualization API is loaded.
		  google.charts.setOnLoadCallback(drawChart);

		  // Callback that creates and populates a data table,
		  // instantiates the pie chart, passes in the data and
		  // draws it.
		  function drawChart() {

			  // Create the data table.
			  var data = new google.visualization.DataTable();
			  data.addColumn({type:'number', label:'Entry', role: 'domain'}); 		// domain
			  data.addColumn({type:'number', label:'Temperature', role: 'data'}); 		// data
			  data.addColumn({type:'string', label:'Date', role: 'tooltip', 'p': {'html': true}});// tooltip

			  data.addRows([
				
			  ]);

			  // Set chart options
			  var options = {
								tooltip: {isHtml: true},
								'title':'Temperature Past Two Weeks',
								'height':600,

								 hAxis: {
								   title: 'Time',
								   textStyle: {
									color: '#01579b',
									fontSize: 20,
									fontName: 'Arial',
									bold: true,
									italic: true
								   },
								   titleTextStyle: {
									color: '#01579b',
									fontSize: 16,
									fontName: 'Arial',
									bold: false,
									italic: true
								   }
								 },
								 vAxis: {
								   title: 'Temperature',
								   textStyle: {
									color: '#1a237e',
									fontSize: 24,
									bold: true
								   },
								   titleTextStyle: {
									color: '#1a237e',
									fontSize: 24,
									bold: true
								  }
								 },
								 colors: ['#a52714', '#097138']

							 };

			  // Instantiate and draw our chart, passing in some options.
			  var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
			  chart.draw(data, options);
		}
		</script>
{% endblock %}

{% block main_content %}
		<p><strong>Last updated: </strong>Thu Sep 10 00:00:02 2020</p>
		<div id="chart_div"></div>
{% endblock %}
